@import "tailwindcss";

/* CodeMirror custom styles */
.cm-editor {
  outline: none !important;
}

.cm-scroller {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}